@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/opensans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/opensans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Bold";
    src: url(../fonts/miriam/MiriamLibre-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Regular";
    src: url(../fonts/miriam/MiriamLibre-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Light";
    src: url(../fonts/miriam/MiriamLibre-Light.ttf) format("truetype");
}

body { font-family: "Open Sans Regular", sans-serif }
h1, h2, h3 {
    font-family: 'Miriam Libre Regular';
    font-weight: normal;
    color:#2BBA47;
}

.intro h3{
    color:#fff;
}
.image-120 img {
    width: 120%;
}
.image-110 img {
    width: 110%;
}
.image-100 img {
    width: 100%;
}

.image-99 img {
    width: 99%;
}
.image-95 img {
    width: 95%;
}
.image-90 img {
    width: 90%;
}
.image-85 img {
    width: 85%;
}
.image-80 img {
    width: 80%;
}
.image-75 img {
    width: 75%;
}
.image-70 img {
    width: 70%;
}
.image-65 img {
    width: 65%;
}
.image-60 img {
    width: 60%;
}
.image-50 img {
    width: 50%;
}
.image-45 img {
    width: 45%;
}
.image-40 img {
    width: 40%;
}
.image-35 img {
    width: 35%;
}
.image-30 img {
    width: 30%;
}
.image-20 img {
    width: 20%;
}
.image-15 img {
    width: 15%;
}
.image-10 img {
    width: 10%;
}
code, pre code {
    font-family: 'Ubuntu Mono', monospace;
}

.code-8px pre,
.code-8px pre code,
.code-8px code {
    font-size: 8px !important;
    line-height: 1.4 !important;
}

.code-9px pre,
.code-9px pre code,
.code-9px code {
    font-size: 9px !important;
    line-height: 1.4 !important;
}

.code-10px pre,
.code-10px pre code,
.code-10px code {
    font-size: 10px !important;
    line-height: 1.4 !important;
}

.code-11px pre,
.code-11px pre code,
.code-11px code {
    font-size: 11px !important;
    line-height: 1.4 !important;
}

.code-12px pre,
.code-12px pre code,
.code-12px code {
    font-size: 12px !important;
    line-height: 1.4 !important;
}

.code-13px pre,
.code-13px pre code,
.code-13px code {
    font-size: 13px !important;
    line-height: 1.4 !important;
}

.diff-code {
    margin-left: -40px;
}

.diff-code pre,
.diff-code pre code,
.diff-code code {
    font-size: 14px !important;
}

.bottomBar{
    font-size: 15px;
    color: #fff;
    position:fixed;
    bottom:18px;
    left:50%;
    transform: translate(-50%,0);
    text-align:center;
    width:100%;
}

.intro p{
    color:#fff;

}

.intro h2{
    background-position: calc(50% - 65px) 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color:#fff;
    font-size:20px;
}

p{
    flex-direction: column;
    justify-content: center;
}

.left-code-column50 {
    width: 55%;
    float: left;
    margin-left:-50px;
    margin-top:-30px;
}

.right-code-column50 {
    width: 55%;
    float: right;
    margin-right:-50px;
    margin-top:-30px;
}

.left-column50 {
    width: 50%;
    float: left;
}

.left-column45 {
    width: 45%;
    float: left;
}

.left-column55 {
    width: 55%;
    float: left;
}

.left-column30 {
    width: 30%;
    float: left;
}

.right-column45 {
    width: 45%;
    float: right;
}

.right-column50 {
    width: 50%;
    float: right;
}

.right-column55 {
    width: 55%;
    float: right;
}


.right-column70 {
    width: 70%;
    float: right;
}

.intro {
    background-image: url('../images/intro.png') !important;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    color:#fff
}

a{
      color:#2BBA47;
      font-size:1em;
}

.intro  h1 {
    font-size:40px;
    position:static !important;
    max-width:none !important;
    top:0;
    right:0;
}

.intro .bottomBar{
    display:none;
}

.remak-slide ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    margin-top:-0.5em;
    margin-bottom:-0.5em;
    margin-left: 1em;
        list-style-color: #2BBA47;
}

ul ul{
    list-style-type: circle;
    margin-left: 1em;
}

thead {
  background-color: #3D3D3D !important;
  color: #ebebeb;
  text-align: left;
  vertical-align: bottom;
  font-family:"montserratLight" ,sans-serif;
}

td {
  border-left: 1px solid #E2E2E2 !important;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  border-left-width: 1px;
  border-bottom: 1px solid #cbcbcb;
  font-size: 11px !important;
  margin: 0;
  overflow: visible;
  padding: 0.5em 0.6em !important;
}

th {
  border-left: 1px solid #3D3D3D !important;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  border-left-width: 1px;
  border-bottom: 1px solid #cbcbcb;
  font-size: 10px !important;
  margin: 0;
  overflow: visible;
  padding: 0.4em 0.8em !important;
}

table tbody{
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #E2E2E2 !important;
}

tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

h4{
  font-size:12px;
}
h5 {
  margin: 5px 0 5px 0;
  font-size: 10px;
}

li {
    padding-left: 0.5em;
    /* text-indent: -.7em; */
}

.code-comment {
    position:relative;
    top:-0.7em;
    font-size: 0.8em;
    font-style: italic;
}

.footnote {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

.hljs-default .hljs, .hljs-default .hljs-subst {
    color: #444;
    font-size: 15px;
}

.image-left {
    float: left;
    width: 20em;
    margin-top: -2em;
    margin-left: -2em;
}

.code-comment{
     position: relative;
     top: -1em;
     font-style: italic;
     font-size:0.75em;

}

a {
    font-size: 1em;
    font-weight: bold;
}

.left-column50 {
    width: 50%;
    float: left;
}

.left-column45 {
    width: 45%;
    float: left;
}

.left-column55 {
    width: 55%;
    float: left;
}

.left-column30 {
    width: 30%;
    float: left;
}

.right-column45 {
    width: 45%;
    float: right;
}

.right-column50 {
    width: 50%;
    float: right;
}

.right-column55 {
    width: 55%;
    float: right;
}

figure {
    border: 0px;
}

figure img {
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  color: gray;
  font-style: italic;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}
